.vscode
.env
venv/
.DS_Store
__pycache__

opensea.egg-info/
dist/
build/

# All mp4, mp3, gif, png and jpg
*.mp4
*.mp3
*.gif
*.png
*.jpg
*.svg

# All contents in media
data/raw/media/*

# pyc 
*.pyc

